/* home screen */
.connections {
  font-size: 15px;
  border-collapse: collapse;
  width: 100%;
  margin-left: -1px;
  overflow: visible;
}
.connections > * > tr > td,
.connections > * > tr > th {
  border: solid 1px #bbb;
  padding: 10px;
  border-right: 0;
}
.connections tbody > tr:hover td {
  background: #ddd;
}
.connections--edit-button,
.connections--add-button {
  border: 0;
  padding: 10px;
  cursor: pointer;
  bottom: 12px;
  font-size: 32px;
  vertical-align: middle;
  border-radius: 40px;
  width: 60px;
  height: 60px;
  line-height: 44px;
  text-align: center;
  background: rgba(100, 100, 100, 0.25);
  transition: 0.2s all;
  position: absolute;
  bottom: 7px;
}
.connections--add-button {
  right: 10px;
}
.connections--edit-button {
  right: 77px;
}
.connections--edit-button:hover,
.connections--add-button:hover {
  background: rgba(100, 100, 100, 0.8);
}
.connection {
  font-size: 15px;
  padding: 8px 12px 8px 28px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  word-break: break-all;
  height: 38px;
  cursor: pointer;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: flex;
  align-items: center;
  outline: 0;
  position: relative;
}
.connection:active:after,
.connection:focus:after,
.connection.selected:after {
  content: '';
  left: 5px;
  right: 3px;
  border: 3px solid #1976d2;
  position: absolute;
  top: -3px;
  bottom: -3px;
  border-radius: 7px;
}
.connection:last-of-type {
  margin-bottom: 80px;
}
.connection:first-of-type {
  border-top: 1px solid #ddd;
}
.connection:hover {
  background: #eee;
}
.connection i.fa.fa-pencil {
  left: 7px;

  position: absolute;
  color: #092;
}
.connection--editing {
  color: #072;
}
.connection--port--default,
.connection--database--any {
  opacity: 0.3;
}
.connection--dark {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}
.connection--dark .connection--port--default,
.connection--dark .connection--database--any {
  opacity: 0.6;
}
.connection--host {
  font-weight: bold;
  position: relative;
  top: -1px;
}
.connection--port,
.connection--database {
  font-size: 13px;
}
.connection--user {
  font-family: monospace;
  font-size: 13px;
  letter-spacing: -0.5px;
}
.connection > * {
  vertical-align: text-bottom;
}
.connection--name {
  font-size: 20px;
  font-weight: bold;
  position: relative;
  top: 2px;
}
.bases-inner-wrapper {
  max-height: 100%;
  overflow: auto;
  box-shadow: 0 4px 40px rgba(0, 0, 0, 0.35);
}
.connections--edit-button2 {
  border: 0;
  padding: 10px;
  cursor: pointer;
  left: 50%;
  margin-left: 220px;
  background: #f9f9f9;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
  font-size: 27px;
  position: absolute;
  border-radius: 30px;
  height: 60px;
  width: 60px;
  background: #fff;
  color: #555;
}
.connections--edit-button2:hover {
  color: black;
}
.bases-wrapper {
  position: absolute;
  inset: 0;
  background: rgba(235, 235, 235, 0.65);
  backdrop-filter: blur(0.75px);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: safe center;
  overflow-y: scroll;
  padding: 28px 0;
}
.bases {
  width: 400px;
  margin-left: 0;
  padding-bottom: 80px;
}
.bases-inner-wrapper {
  box-shadow: 0 4px 40px rgba(0, 0, 0, 0.35);
}
.base {
  padding: 20px;
  border-bottom: 1px solid #eee;
  background: #fff;
  color: #444;
  cursor: pointer;
}
.base--connecting {
  color: rgba(0, 0, 0, 0.3);
}
.base.base--default {
  color: #000;
  font-weight: bold;
}
.base.base--default::after {
  content: '\f00c';
  font-family: 'FontAwesome';
  float: right;
  color: #159;
  font-size: 25px;
  margin-top: -3px;
  margin-right: -5px;
}
.base.base--default.selected {
  background: white;
}
.base:last-of-type {
  border-bottom: 0;
}
.base:hover {
  background: #f8f8f8;
  color: black;
}
.new-connection {
  font-size: 15px;
  line-height: 15px;
  display: flex;
  margin: 0 auto;
  height: 100vh;
  align-items: center;
  width: 530px;
  gap: 20px;
}
.new-connection > div {
  flex: 1;
}
.new-connection__field {
  margin-bottom: 12px;
}
.new-connection__field:last-of-type {
  margin-bottom: 0;
}
.new-connection input {
  padding: 6px;
  font-size: 16px;
  width: 100%;
  margin-top: 3px;
}
.new-connection input:focus {
  padding: 5px;
}
.new-connection button {
  padding: 11px;
  margin: 2px;
  font-size: 14px;
  background: #eee;
  border-radius: 6px;
}
.new-connection button:active {
  background: #ddd;
}
.new-connection button:focus {
  color: #018;
  background: rgba(0, 0, 0, 0.15);
}
.new-connection button[disabled],
.new-connection button[disabled]:active,
.new-connection button[disabled]:focus {
  background: #eee;
  color: #000;
}
.new-connection__require-ssl {
  flex: 1 1 0%;
  padding-top: 8px;
  margin-left: -5px;
  padding-left: 7px;
  margin-right: 66px;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  color: #444;
}
.new-connection__require-ssl:focus-visible {
  color: #018;
  background: #eee;
}
.new-connection__require-ssl:hover {
  background: #f8f8f8;
  color: #000;
  transition: background 0.2s;
}
.new-connection__require-ssl:hover:active {
  background: #eee;
}
.connection-error {
  position: absolute;
  right: 25px;
  bottom: 16px;
  font-size: 13px;
  color: #d32;
  max-width: 193px;
  text-align: right;
}
.new-connection .error {
  color: #e00;
}
.new-connection .error input {
  border-color: #e00;
}
.new-connection .dialog {
  position: absolute;
  font-size: 13px;
  background: white;
  left: 50%;
  margin-left: -125px;
  z-index: 2;
  box-shadow: 0 1px 11px rgb(0 0 0 / 18%);
  padding: 15px 10px;
  width: 250px;
  text-align: center;
}
.new-connection .dialog button {
  margin: 5px;
  margin-top: 10px;
  font-size: 14px;
  padding: 6px 0;
  width: 50px;
  text-align: center;
}
.connection-test-error {
  color: #d32;
  font-size: 13px;
  line-height: 1.3em;
  user-select: text;
  position: absolute;
  left: 67px;
  padding: 4px;
  height: 36px;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
}
.connection-test-error:hover {
  -webkit-line-clamp: unset;
  line-clamp: unset;
  height: auto;
  background: white;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.12);
}
.connection-test-success {
  color: #071;
  font-size: 22px;
  margin-top: 9px;
  letter-spacing: -1.5px;
}
.connection-test-pending {
  font-size: 22px;
  padding-top: 9px;
  color: #444;
}
body:has(.connections) {
  background: #ddd;
}
#root:has(.connections) {
  max-width: 800px;
  position: relative;
  margin: 0 auto;
  background: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
#root:has(.connections) > div {
  height: 100vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: safe center;
}
.new-connection__field-select {
  display: flex;
  overflow: hidden;
  border-radius: 10px;
  gap: 1px;
  background: #ddd;
  cursor: pointer;
  margin-bottom: 18px;
}
.new-connection__field-option {
  background: #eee;
  flex: 1;
  padding: 8px;
  text-align: center;
  color: #555;
  outline: none;
}
.new-connection__field-option:hover {
  background: #f0f0f0;
  color: #000;
}
.new-connection__field-option:active {
  background: #ddd;
}
.new-connection__field-option:focus-visible {
  background: #ddd;
  color: #018;
}
.new-connection__field-option--selected {
  /* background: #777; */
  background: #25b;
  color: white;
}
.new-connection__field-option--selected:hover,
.new-connection__field-option--selected:active,
.new-connection__field-option--selected:focus {
  background: #25b;
  color: white;
}
.new-connection__field-option--selected:focus-visible {
  color: #fe0;
}
.new-connection__field-option--selected:after {
  font-family: 'FontAwesome';
  content: '\f00c';
  display: inline-block;
  position: absolute;
  margin-left: 5px;
}
.new-connection__field .context-menu {
  position: absolute !important;
  display: none;
}
.new-connection__field > span:hover .context-menu {
  display: block;
}
.new-connection [data-hint]:hover::after {
  margin-top: -61px;
  margin-left: -36px;
  font-size: 14px;
  padding: 6px 10px;
}
span.connection--user:before {
  display: inline-block;
  font-weight: bold;
  background: #46b;
  color: white;
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  border-radius: 50%;
  font-size: 11px;
  line-height: 20px;
  margin-right: 4px;
  position: relative;
  margin-top: -6px;
  margin-bottom: -6px;
  border: solid 2px orange;
  background: transparent;
  /* box-shadow: -2px 2px orange; */
}
.mysql span.connection--user:before {
  content: 'my';
  border-color: orange;
  line-height: 18px;
  color: #46b;
}
.pg span.connection--user:before {
  content: 'pg';
  line-height: 18px;
  border-color: #46b;
  color: #000;
}
.home-connection-error-dialog__wrapper {
  position: fixed;
  inset: 0px;
  background: rgba(235, 235, 235, 0.65);
  backdrop-filter: blur(0.75px);
  z-index: 1;
  display: flex;
  align-items: center;
}
.home-connection-error-dialog {
  padding: 30px 20px;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 4px 40px;
  max-width: 500px;
  color: rgb(221, 51, 51);
  margin: 20px auto;
  text-align: center;
  width: 100%;
}
