.frame.active.new-table {
  overflow: auto;
}

.columns-form-column {
  text-align: center;
  padding: 2px;
}
.columns-form > .head {
  text-align: center;
  font-weight: bold;
  font-size: 11px;
  padding-bottom: 3px;
}
.columns-form > .head,
.columns-form-column {
  display: flex;
}
.columns-form > .head {
  align-items: flex-end;
}
.columns-form-head-name,
.columns-form-column-name {
  width: 27%;
}
.columns-form-head-type,
.columns-form-column-type {
  width: 30%;
}
.columns-form-head-length,
.columns-form-column-length {
  width: 9%;
}
.columns-form-head-precision,
.columns-form-column-precision {
  width: 9%;
}
.columns-form-head-notnull,
.columns-form-column-notnull {
  width: 10%;
}
.columns-form-head-pk,
.columns-form-column-pk {
  width: 10%;
}
.columns-form-column-drop {
  width: 5%;
}
.columns-form-column input {
  padding: 5px;
  display: block;
  width: 100%;
  &:focus {
    padding: 4px;
  }
}
.columns-form-column select {
  padding: 4px;
  width: 190px;
  outline: none;
}
.columns-form-column-drop .fa-close {
  cursor: pointer;
  opacity: 0.5;
  &:hover {
    opacity: 1;
  }
}
.list-input-item .fa-square-o,
.list-input-item .fa-check-square-o {
  width: 12px;
  text-align: left;
  font-size: 20px;
  height: 0;
  position: relative;
  top: 2px;
  color: #444;
}

.columns-form-column-notnull,
.columns-form-column-pk,
.columns-form-column-drop {
  line-height: 28px;
}

.new-table .table i.fa {
  font-size: 18px;
  width: 15px;
  display: inline-block;
  text-align: left;
}

.input-form-field input {
  padding: 5px;
  &:focus {
    padding: 4px;
  }
}
body > .list-input-item {
  background: white;
  box-shadow: 0 1px 3px rgb(0 0 0 / 20%);
}
.new-table--name {
  font-weight: bold;
  font-size: 15px;
  input {
    padding: 5px;
    display: block;
    font-size: 17px;
    width: 270px;
    margin-top: 3px;
  }
}
