.not-grid-result {
  position: absolute;
  top: 300px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  padding-bottom: 20px;
}
.not-grid-result::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.not-grid-result::-webkit-scrollbar-thumb {
  background-color: #ccc;
}
.not-grid-result::-webkit-scrollbar-thumb:hover {
  background-color: #bbb;
}
.notice {
  position: relative;
}
.notice .fa {
  position: absolute;
  right: 6px;
  top: 9px;
  color: #ccc;
}
.notice .fa.fa-eye {
  right: 25px;
  cursor: pointer;
}
.notice .fa.fa-close {
  cursor: pointer;
}
.notice:hover .fa {
  color: #999;
}
.notice .fa:hover {
  color: #000 !important;
}
.notice-details {
  clear: both;
  padding-top: 5px;
  font-size: 12px;
  display: flex;
  gap: 2px 18px;
  flex-wrap: wrap;
  user-select: text;
}
.notice-details > span {
  white-space: pre-wrap;
}
.notice--value {
  font-family: 'Inconsolata';
  line-height: 1.3em;
  white-space: pre-wrap;
}
.query-frame__up-down-button,
.query-frame__code-button,
.query-frame__play-button {
  border: 0;
  cursor: pointer;
  outline: none;
}
.query-frame__execute-button {
  position: absolute;
  right: 60px;
  margin-top: -54px;
  z-index: 2;
  cursor: pointer;
}
.query-frame__execute-button {
  box-shadow: 0 0;
  color: white;
  letter-spacing: 0.5px;
  font-weight: 400;
  padding: 10px 13px 10px 15px !important;
  background: #31bb4d;
  transition: 0.5s opacity;
  &:hover {
    background: #31ad4a;
  }
  &:active {
    background: #29a943;
  }
  &[disabled] {
    opacity: 0.5;
    cursor: default;
  }
  &[disabled]:hover,
  &[disabled]:active {
    background: #31bb4d;
  }
}
button.query-tab--stdout {
  position: absolute;
  right: 20px;
  margin-top: -54px;
  z-index: 2;
  cursor: pointer;
  padding: 5px !important;
  font-size: 14px;
}
.query-tab .mensagem {
  position: absolute;
  margin-top: -36px;
  right: 178px;
  font-weight: bold;
  font-size: 13px;
  background: white;
  z-index: 2;
  padding: 5px;
}
.query-tab .client-error {
  color: #d22;
  position: absolute;
  margin-top: -58px;
  right: 138px;
  font-weight: bold;
  font-size: 13px;
  background: white;
  z-index: 2;
  padding: 5px;
}
.running span {
  position: absolute;
  right: 62px;
  top: 9px;
  background: #ddd;
  padding: 2px 4px;
  border-radius: 4px;
  z-index: 3;
  font-size: 13px;
}
.running span:hover {
  background: #ccc;
}
.notices {
  padding: 10px;
}
.notice-type {
  background: #ed0;
  margin-right: 8px;
  font-weight: bold;
  font-size: 11px;
  font-family: system-ui;
}
.notice {
  clear: both;
  border-bottom: 1px solid #bbb;
  padding: 5px;
}
.notice::after {
  display: table;
  clear: both;
  content: '';
}
.notice-message,
.notice-type {
  float: left;
  padding: 6px 9px;
  font-size: 12px;
}
.notice-message {
  user-select: text;
}
.notice--info .notice-type {
  background: #ccc;
}
.notice--warning .notice-type {
  color: #b00;
  background: #ed0;
}
.pid {
  position: absolute;
  right: 15px;
  top: 8px;
  background: #ddd;
  font-size: 12px;
  padding: 2px 4px 1px 4px;
  border-radius: 4px;
  font-weight: bold;
  cursor: default;
  z-index: 2;
  opacity: 0;
  animation: opacity 0.3s;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
  .fa-link {
    color: #03a;
  }
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.running {
  opacity: 0;
  animation: opacity 1.5s;
  animation-fill-mode: forwards;
  position: absolute;
  right: 8px;
  top: 0;
  width: 180px;
  z-index: 2;
  i.fa.fa-circle-o-notch.fa-spin {
    position: absolute;
    right: 0;
    top: 8px;
    color: #25c;
  }
}
.query-tab .error {
  font-size: 20px;
  padding: 10px 0 0 15px;
  color: #d11;
  line-height: 1.5em;
}
.query-tab .error button {
  padding: 3px !important;
  font-size: 12px;
  box-shadow: 0 1px 2px rgb(0 0 0 / 50%);
  margin-left: 3px;
  position: relative;
  top: -2px;
}
.favorite {
  position: absolute;
  z-index: 4;
  top: 31px;
  right: 15px;
  transition: 0.3s top;
}
.favorite {
  top: 7px;
}
.favorite--has-pid {
  top: 31px;
}
.favorite.favorite--running {
  top: 62px;
}
.pid--running {
  top: 33px;
  right: 70px;
}
.query-tab .fa-star {
  font-size: 28px;
  color: #26d;
  cursor: pointer;
  color: #ddd;
  &:hover {
    color: #ccc;
  }
}
.query-tab .fa-star.saved {
  color: #fd0;
}
.favorite-dialog {
  position: absolute;
  z-index: 1;
  right: 0;
  margin-top: 4px;
  background: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  padding: 10px;
  .actions {
    text-align: right;
    margin-top: 10px;
  }
  input {
    padding: 5px;
    &:focus {
      padding: 4px;
    }
  }
  .app-content & button {
    box-shadow: 0 0;
    font-size: 13px;
    padding: 3px 6px !important;
    margin-left: 5px;
  }
}
.query-frame--resize-helper {
  left: 0;
  right: 0;
  height: 3px;
  z-index: 4;
  position: absolute;
  cursor: ns-resize;
}
.query-tab {
  display: flex;
  flex-direction: column;
}
.query-frame--top-area {
  position: relative;
}
.query-frame--bottom-area {
  flex: 1;
  position: relative;
}
.query-frame--animating-top-height .CodeMirror,
.query-frame--top-area.query-frame--animating-top-height,
.query-frame--animating-top-height .editor {
  transition: height 0.3s;
}
.query-frame__up-down-button {
  right: 0;
  position: absolute;
  bottom: 0;
  height: 41px;
  width: 40px;
  z-index: 5;
  cursor: pointer;
  // width: 41px;
  // border-left: 1px solid #eee;
  // border-top: 1px solid #eee;
  box-shadow: none;
  background: transparent;
  text-align: center;
  border-radius: 0;
  background: white;
  text-align: center !important;
  padding: 0 !important;
  font-size: 20px;
  color: #ccc;
  &:hover {
    z-index: 9;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.25);
    background: white !important;
    color: #000;
  }
}
.query-frame--open .query-frame__up-down-button {
  .fa.fa-chevron-down {
    display: none;
  }
  .fa.fa-chevron-up {
    display: inline;
  }
}
.query-frame--closed .query-frame__up-down-button {
  .fa.fa-chevron-down {
    display: inline;
  }
  .fa.fa-chevron-up {
    display: none;
  }
}
.query-frame__code-button {
  padding: 0 !important;
  outline: none;
  font-weight: bold;
  background: white;
  box-shadow: none;
  position: absolute;
  border-radius: 0;
  bottom: 0;
  right: 81px;
  height: 40px;
  width: 41px;
  border-left: 1px solid #eee;
  border-top: 1px solid #eee;
  text-align: center;
  font-size: 21px;
  letter-spacing: 1px;
  color: #ccc;
  z-index: 7;
  opacity: 0;
  animation: show 0.3s forwards;
  &:hover {
    background: white !important;
    width: 41px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.33);
    color: black;
    z-index: 9;
  }
}
.query-frame__code-button--open {
  z-index: 11;
  color: black;
  box-shadow: none;
  background: white !important;
  border-left: 1px solid #eee;
  width: 41;
}
.query-frame__play-button {
  padding: 0 !important;
  height: 40px;
  background: #31bb4d;
  box-shadow: none;
  position: absolute;
  border-radius: 0;
  bottom: 0;
  right: 40px;
  width: 40px;
  text-align: center;
  font-size: 21px;
  letter-spacing: 1px;
  color: #fff;
  cursor: pointer;
  &:hover {
    background: #31ad4a !important;
    color: white;
  }
  .fa-play {
    font-size: 13px;
    position: relative;
    top: -2px;
    left: 2px;
  }
}
.query-frame--mensagem2 {
  position: absolute;
  right: 130px;
  font-weight: bold;
  font-size: 12px;
  bottom: 4px;
  text-align: right;
}
.pid2 {
  background: #ddd;
  font-weight: bold;
  font-size: 11px;
  padding: 1px 4px 0 4px;
  border-radius: 3px;
  margin-bottom: 2px;
}
.query-frame__code-editor--no-popup {
  position: absolute;
  inset: 0;
}
.query-frame__execute-button {
  outline: none;
  border-radius: 5px;
  border: 0;
  font-size: 15px;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.5);
}
.query-frame__execute-button:hover {
  background: #31ad4a;
}
.query-frame__code-editor--popup {
  position: absolute;
  z-index: 1112;
  top: 40px;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
  .query-frame__execute-button {
    right: 20px;
  }
  .mensagem {
    right: 138px;
  }
}
button.query-tab--save-sql {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  margin-left: 0;
  margin-right: 0;
}
button.query-tab--save-stdout {
  display: block;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}
div.CodeMirror-linenumber {
  color: #ccc;
  font-size: 11px;
}
div.CodeMirror-gutters {
  background-color: white !important;
  border-right: 1px solid #ddd;
}

.query-frame__code-editor--no-popup .query-selector--query {
  position: absolute;
  z-index: 1;
  border: 1px solid #eee;
  top: 0;
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(1px);
  right: 55px;
  top: 8px;
  width: 160px;
  z-index: 3;
  cursor: default;
  h1 {
    font-size: 19px;
  }
  .query-selector--sql {
    font-family: 'Inconsolata', monospace;
    font-size: 11px;
    line-height: 11px;
    color: #555;
    word-break: break-word;
    margin-top: 8px;
    height: 33px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  .query-selector--pagination {
    padding: 7px;
    bottom: 0;
    background: transparent;
    .fa-chevron-left,
    .fa-chevron-right {
      font-size: inherit;
    }
  }
  &:hover {
    background: rgba(255, 255, 255, 0.9);
  }
  &:hover .query-selector--pagination {
    /* background: rgba(255, 255, 255, 0.9); */
    background: transparent;
  }
}
.query-frame--top-area--closed {
  z-index: 7;
  position: absolute;
  inset: 0px;
  background: white;
  animation: 0.3s ease 0s 1 normal forwards running show;
}
.query-frame__up-down-button--closed {
  z-index: 8;
}
.query-frame__up-down-button--open {
  z-index: 11;
  // color: 'black',
  box-shadow: none;
}
