.not-grid-result {
  position: absolute;
  top: 300px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  padding-bottom: 20px;
}
.not-grid-result::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
/* .not-grid-result::-webkit-scrollbar-track {} */
.not-grid-result::-webkit-scrollbar-thumb {
  background-color: #ccc;
}
.not-grid-result::-webkit-scrollbar-thumb:hover {
  background-color: #bbb;
}

.notice {
  position: relative;
}
.notice .fa {
  position: absolute;
  right: 6px;
  top: 9px;
  color: #ccc;
}
.notice .fa.fa-eye {
  right: 25px;
}
.notice:hover .fa {
  color: #999;
}
.notice .fa:hover {
  color: #000 !important;
}
.notice-details {
  clear: both;
  padding-top: 5px;
  font-size: 12px;
}
.notice-details span {
  margin-right: 17px;
  white-space: nowrap;
}

.query-tab button.query-tab--execute {
  position: absolute;
  right: 20px;
  margin-top: -54px;
  z-index: 2;
  cursor: pointer;
}
.query-tab button.query-tab--execute {
  box-shadow: 0 0;
  color: white;
  letter-spacing: 0.5px;
  font-weight: 400;
  padding: 10px 13px 10px 15px !important;
  background: #31bb4d;
  transition: 0.5s opacity;
  &:hover {
    background: #31ad4a;
  }
  &:active {
    background: #29a943;
  }
  &[disabled] {
    opacity: 0.5;
    cursor: default;
  }
  &[disabled]:hover,
  &[disabled]:active {
    background: #31bb4d;
  }
}
button.query-tab--stdout {
  position: absolute;
  right: 20px;
  margin-top: -54px;
  z-index: 2;
  cursor: pointer;
  padding: 5px !important;
  font-size: 14px;
}

.query-tab .mensagem {
  position: absolute;
  margin-top: -36px;
  right: 138px;
  font-weight: bold;
  font-size: 13px;
  background: white;
  z-index: 2;
  padding: 5px;
}
// .query-tab .mensagem.error {
//   color: #d22;
// }
.query-tab .client-error {
  color: #d22;
  position: absolute;
  margin-top: -58px;
  right: 138px;
  font-weight: bold;
  font-size: 13px;
  background: white;
  z-index: 2;
  padding: 5px;
}
.running span {
  position: absolute;
  right: 66px;
  top: 9px;
  background: #ddd;
  padding: 2px 4px;
  border-radius: 4px;
  z-index: 3;
  font-size: 13px;
}
.running span:hover {
  background: #ccc;
}

.notices {
  padding: 10px;
}
.notice-type {
  background: #ed0;
  margin-right: 8px;
}
.notice {
  clear: both;
  border-bottom: 1px solid #bbb;
  padding: 5px;
}
.notice::after {
  display: table;
  clear: both;
  content: '';
}
.notice-message,
.notice-type {
  float: left;
  padding: 6px 9px;
  font-size: 12px;
}

.pid {
  position: absolute;
  right: 5px;
  top: 8px;

  background: #ddd;
  font-size: 12px;
  padding: 2px 4px 1px 4px;
  border-radius: 4px;
  font-weight: bold;
  cursor: default;
  z-index: 2;

  opacity: 0;
  animation: opacity 0.3s;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
  .fa-link {
    color: #03a;
  }
}
.pid--running {
  top: 33px;
  right: 66px;
  transition: all 0.5s;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.running {
  opacity: 0;
  animation: opacity 1.5s;
  animation-fill-mode: forwards;
  position: absolute;
  right: 0;
  top: 0;
  width: 180px;
  z-index: 2;
  i.fa.fa-circle-o-notch.fa-spin {
    position: absolute;
    right: 0;
    top: 8px;
    color: #25c;
  }
}

.query-tab .error {
  font-size: 20px;
  padding: 10px 0 0 15px;
  color: #d11;
  line-height: 1.5em;
}
.query-tab .error button {
  padding: 3px !important;
  font-size: 12px;
  box-shadow: 0 1px 2px rgb(0 0 0 / 50%);
  margin-left: 3px;
  position: relative;
  top: -2px;
}

.favorite {
  position: absolute;
  z-index: 4;
  top: 31px;
  right: 8px;
}

.query-tab .fa-star {
  font-size: 28px;
  color: #26d;
  cursor: pointer;
  color: #ddd;
  &:hover {
    color: #ccc;
  }
}
.query-tab .fa-star.saved {
  color: #fd0;
}
.favorite-dialog {
  position: absolute;
  z-index: 1;
  right: 0;
  margin-top: 4px;
  background: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  padding: 10px;
  .actions {
    text-align: right;
    margin-top: 10px;
  }
  input {
    padding: 4px;
  }
  .app-content & button {
    box-shadow: 0 0;
    font-size: 13px;
    padding: 3px 6px !important;
    margin-left: 5px;
  }
}
