.frame.table-info,
.frame.schema-info,
.frame.new-table,
.frame.function,
.frame.domain,
.frame.sequence,
.frame.role {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 20px;
  background: white;
  overflow: auto;
  .dialog {
    margin-top: 20px;
    font-size: 16px;
  }
  .dialog.executing {
    color: #bbb;
  }
  div.comment {
    white-space: break-spaces;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 1px 10px rgb(0 0 0 / 20%);
    font-size: 21px;
    user-select: text;
  }
  textarea.comment {
    white-space: break-spaces;
    font-family: inherit;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 1px 10px rgb(0 0 0 / 20%);
    font-size: 21px;
    user-select: text;
    display: block;
    border: 0;
    min-height: 195px;
    width: 100%;
    resize: none;
    outline: none;
  }
  div.view {
    font-family: 'Inconsolata', monospace;
    padding: 10px;
    background: #eee;
    line-height: 1.4em;
    word-break: break-word;
    white-space: pre-wrap;
    user-select: text;
    font-size: 13px;
  }
  textarea.view {
    font-family: 'Inconsolata', monospace;
    padding: 10px;
    background: #eee;
    line-height: 1.4em;
    word-break: break-word;
    white-space: pre-wrap;
    user-select: text;
    display: block;
    border: 0;
    min-height: 195px;
    resize: none;
    outline: none;
    width: 100%;
    font-size: 13px;
  }
  tbody td {
    font-size: 13px;
  }
  table {
    border-collapse: collapse;
  }
  td,
  th {
    border: 1px solid #ddd;
    padding: 4px;
  }
  th {
    font-size: 12px;
  }
  table,
  .fields,
  .empty {
    width: 100%;
    min-width: 600px;
  }
  .empty {
    background: #f8f8f8;
    padding: 20px;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    color: #777;
  }

  textarea {
    height: 100px;
    width: 250px;
    resize: none;
    border: 0;
    outline: none;
  }
  .dialog textarea {
    display: block;
    margin-bottom: 20px;
    font-family: inherit;
  }
  textarea.code {
    font-family: monospace;
  }
  td .fa-eye {
    opacity: 0.3;
    cursor: pointer;
    &:hover {
      opacity: 1;
    }
  }
  h2 {
    color: #1976d2;
    margin-bottom: 3px;
    font-size: 17px;
    margin-top: 23px;
  }
  .fields {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #ddd;
    padding: 5px;
    user-select: text;
    .field {
      margin-right: 20px;
      width: 175px;
      font-size: 13px;
    }
  }
  .no {
    color: #888;
  }
  td strong {
    font-size: 14px;
    letter-spacing: -0.5px;
  }
}
.table-info-frame__actions {
  button {
    margin-right: 3px;
  }
  line-height: 45px;
  margin-bottom: 22px;
}

span.column {
  background: #ddd;
  padding: 1px 4px;
  border-radius: 3px;
  white-space: nowrap;
}

.table-info,
.frame.function,
.frame.sequence,
.frame.schema-info,
.frame.role {
  table {
    user-select: text;
  }
}

.frame.sequence {
  .sequence-value--current-value {
    margin: 0;
    padding: 20px;
    background: #1976d2;
    color: white;
    border-radius: 17px;
    text-align: center;
    height: 77px;
    transition: 0.25s ease-in-out all;
    min-width: 296px;
    margin-right: 10px;
    font-size: 52px;
    font-weight: bold;
    font-family: monospace;
    line-height: 40px;
    color: #fe4;
    text-shadow: 0 1px 2px black;
    &.loading {
      opacity: 0.87;
    }
  }
  .sequence-value {
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;
  }
}
div.frame.table-info,
div.frame.schema-info,
div.frame.sequence,
div.frame.domain,
div.frame.function,
div.frame.role {
  h1 {
    user-select: text;
  }
  div.actions {
    user-select: none;
    text-align: right;
    padding-top: 4px;
    padding-right: 6px;
  }
  button.simple-button {
    padding: 5px 8px !important;
    font-size: 12px !important;
    box-shadow: none;
  }
  table td.actions {
    text-align: right;
    user-select: none;
    padding: 2px 4px;
    table button,
    table .dialog {
      user-select: none;
    }
    line-height: 27px;
  }
}
.comment--form {
  margin-bottom: 20px;
  margin-top: 20px;
  textarea {
    margin-bottom: 10px;
  }
  button {
    margin-right: 5px;
  }
}
div.comment {
  margin-top: 20px;
  margin-bottom: 20px;
}
.dialog input,
.dialog select {
  padding: 10px;
  display: block;
  width: 100%;
  margin-bottom: 17px;
}
button[disabled] {
  opacity: 0.33;
}

.dialog-error {
  font-size: 15px;
  line-height: 1.3em;
  position: absolute;
  padding: 10px 5px 0 5px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  color: #e10;
  background: white;
  display: flex;
  flex-direction: column;
  z-index: 1;
}
.dialog-error--message {
  white-space: normal;
  user-select: text;
  padding: 0 10px;
}
.dialog-error--buttons {
  text-align: right;
}
.dialog-error--main {
  flex: 1;
  display: flex;
  align-items: center;
  overflow: auto;
}

body div.frame.table-info div.dialog-form,
body div.frame.role div.dialog-form {
  .fa-close {
    opacity: 0.4;
    cursor: pointer;
    &:hover {
      opacity: 1;
    }
  }
  select,
  textarea {
    border: solid 1px rgba(0, 0, 0, 0.2);
    outline: none;
  }
  select {
    padding-left: 7px;
  }
  textarea {
    padding: 5px;
    margin-bottom: 0;
  }
  div[tabindex] {
    outline: none;
    font-size: 13px;
    &:focus {
      color: #029;
    }
  }
  input[type='number'] {
    padding: 7px;
  }
  input[type='number']::placeholder {
    font-size: 11px;
  }
  select:focus,
  textarea:focus {
    border: 1px solid #029;
  }
  .fa-check-square-o,
  .fa-square-o {
    width: 14px;
    display: inline-block;
    text-align: left;
  }
}
.dialog-form--error {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  z-index: 2;
  color: #d10;
  display: flex;
  flex-direction: column;
  padding: 40px 20px;
  line-height: 1.3em;
  justify-content: space-evenly;
  // .dialog-form--error-message { flex: 1 }
  .dialog-form--error-buttons {
    text-align: right;
  }
  overflow: auto;
}

.hd {
  font-size: 19px;
  line-height: 27px;
  margin-left: 3px;
  margin-top: 21px;
  margin-bottom: 21px;
  .fa {
    position: relative;
    bottom: -3px;
    font-size: 27px;
  }
}

.owner {
  background: #eee;
  font-family: monospace;
  font-size: 19px;
  line-height: 19px;
  padding: 5px;
  border-radius: 6px;
  margin-bottom: 21px;
  width: fit-content;
  .name {
    user-select: text;
    margin-left: -3px;
  }
  padding-right: 10px;
}
.owner .fa-pencil {
  font-size: 12px;
  position: relative;
  top: -7px;
  right: -6px;
  cursor: pointer;
  opacity: 0.3;
  &:hover {
    opacity: 1;
  }
}
