.frame.table-info,
.frame.schema-info,
.frame.new-table,
.frame.function,
.frame.domain,
.frame.sequence {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 20px;
  background: white;

  .dialog {
    margin-top: -5px;
  }
}
.table-info-frame__actions {
  button {
    margin-right: 3px;
  }
  line-height: 45px;
  margin-bottom: 22px;
}
.table-info tbody td {
  font-size: 13px;
}
.table-info table {
  border-collapse: collapse;
}
.table-info td,
.table-info th {
  border: 1px solid #ddd;
  padding: 4px;
}
.table-info th {
  font-size: 12px;
}
.frame.table-info {
  overflow: auto;
}

span.column {
  background: #ddd;
  padding: 1px 4px;
  border-radius: 3px;
  white-space: nowrap;
}

.frame .dialog {
  background: white;
  box-shadow: 0 1px 11px rgb(0 0 0 / 18%);
  padding: 20px;
  line-height: 3em;
  text-align: center;
  button {
    margin: 5px;
  }
}

.dialog textarea {
  height: 100px;
  width: 250px;
  resize: none;
  border: 0;
  outline: none;
}
.frame td .fa-eye {
  opacity: 0.3;
  cursor: pointer;
  &:hover {
    opacity: 1;
  }
}
.frame td .dialog div {
  text-align: right;
}
.frame.table-info table,
.frame.schema-info table,
.frame.sequence table,
.frame.domain table,
.frame.function table,
.frame .fields,
.empty {
  width: 100%;
  min-width: 600px;
}
.frame .empty {
  background: #f8f8f8;
  padding: 20px;
  text-align: center;
  font-size: 13px;
  font-weight: bold;
  color: #777;
}
.frame h2 {
  color: #1976d2;
  margin-bottom: 3px;
  font-size: 17px;
  margin-top: 23px;
}
.frame .fields {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #ddd;
  padding: 5px;
  user-select: text;
  .field {
    margin-right: 20px;
    width: 150px;
    font-size: 13px;
  }
}
.table-info,
.frame.function,
.frame.sequence,
.frame.schema-info {
  table {
    user-select: text;
  }
}

.frame.sequence {
  .last-value {
    margin: 0;
    padding: 20px;
    margin-bottom: 20px;
    background: #1976d2;
    color: white;
    border-radius: 17px;
    max-width: 296px;
    text-align: center;
  }
}
