.frame.table-info, .frame.schema-info, .frame.new-table {
  position: absolute; top: 0; right: 0; left: 0; bottom: 0; padding: 20px;
  background: white; }
.table-info tbody td { font-size: 13px; }
.table-info table {border-collapse:collapse}
.table-info td, .table-info th { border: 1px solid #ccc; padding: 4px; }
.table-info th {font-size: 12px}
.frame.table-info{ overflow: auto; }

span.column { background: #ddd; padding: 1px 4px; border-radius: 3px; white-space: nowrap; }