.dialog .form-row .grid__filter-dialog__input-wrapper textarea {
  margin: 0;
}
.app-content button.grid__filter-dialog__or {
  box-shadow: 0 0;
  border: 1px solid #eee;
  background: transparent;
  padding: 3px 6px !important;
  font-weight: normal;
  font-size: 13px;
}
.app-content button.grid__filter-dialog__or:hover {
  background: #eee !important;
}
.grid__filter-dialog__big-form.dialog,
.grid__filter-dialog__small-form.dialog {
  line-height: 1.1em;
  font-family: sans-serif;
}
.grid__filter-dialog__big-form.dialog select,
.grid__filter-dialog__big-form.dialog input,
.grid__filter-dialog__big-form.dialog textarea {
  font-family: 'Inconsolata';
  padding: 2px;
  line-height: 16px;
  height: 26px;
  margin-top: 2px;
  margin-bottom: 2px;
}
.grid__filter-dialog__big-form.dialog .grid__filter-dialog__input-wrapper {
  margin-top: 2px;
  margin-bottom: 0;
}
.grid__filter-dialog__big-form.dialog .form-row strong {
  margin-top: 6px;
}
.grid__filter-dialog__small-form.dialog .form-row strong {
  margin-top: 19px;
}
.grid__filter-dialog__input-wrapper textarea {
  width: 150px;
}
.grid__filter-dialog__and-group {
  padding: 0 11px;
}
.grid__filter-dialog__big-form.dialog .grid__filter-dialog__and-group {
  border: solid 1px #eee;
  padding: 5px;
  border-radius: 5px;
}
.form-row .grid__filter-dialog__small-ops {
  display: none;
}
.grid__filter-dialog__input-focus .grid__filter-dialog__small-ops {
  display: block;
}
.grid__filter-dialog__small-ops {
  position: absolute;
  right: 0px;
  top: -16px;
  font-size: 13px;
  background: white;
  display: flex;
  line-height: 16px;
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.2);
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}
.grid__filter-dialog__small-ops > span {
  padding: 2px 6px;
  font-weight: bold;
  letter-spacing: -0.5px;
  border-right: 1px solid #eee;
}
.grid__filter-dialog__small-ops > span:last-child {
  border-right: 0;
}
.grid__filter-dialog__small-ops .selected {
  background: #1976d2;
  color: white;
}
.grid__filter-dialog__value-type {
  position: relative;
}
.grid__filter-dialog__value-type select {
  width: 22px;
}
.grid__filter-dialog__value-type:after {
  content: '';
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #ddd;
  position: absolute;
  width: 0;
  height: 0;
  top: 9px;
  left: 0;
  pointer-events: none;
}
.grid__filter-dialog__value-type:hover:after {
  border-top-color: #000;
}
.grid__filter-dialog__input-wrapper.grid__filter-dialog__sql textarea {
  border-color: #1976d2;
  color: #1976d2;
  padding-right: 28px;
}
.grid__filter-dialog__sql-tip {
  background: #1976d2;
  color: white;
  position: absolute;
  line-height: 18px;
  right: 7px;
  top: 50%;
  margin-top: -10.5px;
  font-size: 13px;
  font-weight: bold;
  padding: 0 3px;
  border-radius: 3px;
}
.grid__filter-dialog__input-focus .grid__filter-dialog__sql-tip {
  display: none;
}
.grid__filter-dialog__input-focus textarea {
  padding-right: 2px;
}
.grid__filter-dialog__small-form .grid__filter-dialog__value-type:after {
  margin-top: 6px;
}
.grid__filter-dialog__input-wrapper {
  margin-top: 7px;
  margin-bottom: 7px;
  line-height: 1em;
}
.grid__filter-dialog__input-wrapper textarea {
  resize: vertical;
  min-height: 37px;
}
.grid__filter-dialog__big-form .grid__filter-dialog__input-wrapper textarea {
  min-height: 22px;
}
.app-content button.grid__filter-dialog__where-sql {
  position: absolute;
  top: 10px;
  right: 10px;
  box-shadow: 0 0;
  border: 1px solid #eee;
  background: transparent;
  font-weight: normal;
  padding: 3px 6px !important;
  font-size: 13px;
}
.app-content button.grid__filter-dialog__where-sql:hover {
  background: #eee !important;
}
.app-content button.grid__filter-dialog__where-sql.active {
  background: #1976d2 !important;
  color: white !important;
  border: 1px solid #1976d2 !important;
}
.grid__filter-dialog__sql-where {
  min-height: 273px;
  white-space: pre-line;
  word-break: break-word;
  width: 572px;
  text-align: left;
  user-select: text;
  padding: 23px 30px;
  background: #eee;
  font-size: 15px;
  border-radius: 14px;
  margin-bottom: 20px;
  font-weight: bold;
  line-height: 1.2em;
  white-space: break-spaces;
  position: relative;
  resize: vertical;
  margin-bottom: 0;
}
textarea.grid__filter-dialog__sql-where {
  font-weight: normal;
  padding: 15px 19px !important;
  background: #fafafa;
  font-size: 14px !important;
}
textarea.grid__filter-dialog__sql-where:focus,
textarea.grid__filter-dialog__sql-where:active {
  border: 2px solid #1976d2 !important;
  padding: 14px 18px !important;
}
textarea.grid__filter-dialog__sql-where .grid__filter-dialog__sql-invalid:focus,
textarea.grid__filter-dialog__sql-where
  .grid__filter-dialog__sql-invalid:active {
  border: 2px solid #d22 !important;
}
.app-content button.grid__filter-dialog__edit-button {
  position: absolute;
  margin: 0;
  right: 0;
  bottom: -25px;
  box-shadow: 0 0;
  border: 1px solid #ddd;
  background: transparent;
  font-weight: normal;
  padding: 3px 6px !important;
  font-size: 13px;
}
.app-content button.grid__filter-dialog__edit-button:hover {
  background: #eee !important;
}
.app-content button.grid__filter-dialog__edit-button.active {
  background: #1976d2 !important;
  color: white !important;
  border: 1px solid #1976d2 !important;
}
.dialog button,
.dialog button.active {
  margin: 5px;
}
.grid__filter-dialog__sql-invalid textarea {
  border-color: #d22 !important;
  color: #d22 !important;
}
.grid__filter-dialog__sql-invalid textarea:focus {
  border: 2px solid #d22 !important;
  box-shadow:
    inset 1px 1px 0 0 #d22,
    inset -1px 1px 0 0 #d22,
    inset 1px -1px 0 0 #d22,
    inset -1px -1px 0 0 #d22 !important;
}
.grid__filter-dialog__sql-invalid .selected,
.grid__filter-dialog__sql-invalid .grid__filter-dialog__sql-tip {
  background: #d22 !important;
}
/* .frame.table-tab.active:after {
    content: '';
    position: absolute;
    inset: 0;
    background: white;
    opacity: .75;
} */
