div.nav {
  line-height: 1.1em;
  font-weight: normal;
  text-align: left;
  font-size: 13px;
  cursor: default;
  left: 0;
  top: 40px;
  bottom: 0;
  width: 250px;
  background: #f4f4f4;
  display: flex;
  flex-direction: column;
  .nav-tree {
    overflow: auto;
    outline: none;
    flex: 1;
  }
  .schema {
    position: relative;
  }
  .schema-name,
  .group-name,
  .table-name {
    padding: 2px 20px 2px 20px;
    font-size: 12px;
  }
  .new-schema {
    position: absolute;
    bottom: 3px;
    right: 20px;
    font-size: 26px;
    padding: 4px;
    opacity: 0.5;
    z-index: 2;
    outline: none;
    cursor: pointer;
  }
  .new-schema:hover {
    opacity: 1;
  }
  .new-schema:focus {
    transform: scale(1.14);
    color: #04b;
    opacity: 1;
  }
  .arrow:after {
    content: '';
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 6px solid #444;
    height: 0;
    display: block;
    position: absolute;
    left: 9px;
    top: 4px;
    transition: transform 0.25s;
  }
  .schema--current .schema-name {
    font-weight: bold;
    font-weight: 900;
    letter-spacing: -0.25px;
    line-height: 1.4;
    position: relative;
    height: 18px;
  }
  .schema--internal .schema-name {
    color: #aaa;
    font-style: italic;
  }
  .schema--internal > .arrow:after {
    border-left: 6px solid #bbb;
  }
  .arrow.open:after {
    transform: rotate(90deg);
  }
  .tables {
    transition: height 0.25s;
  }
  .schema sup {
    font-size: 8px;
  }
  .function,
  .sequence,
  .domain,
  .table,
  .schema-name,
  .group-name {
    position: relative;
  }
  .table-name,
  .schema-name,
  .group-name,
  .function-name,
  .sequence-name,
  .domain-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .table-type {
    display: inline-block;
    margin-right: 5px;
    margin-top: 1px;
    position: relative;
    top: 1px;
    font-size: 14px;
    text-align: center;
    width: 13px;
  }
  .fa-user.table-type {
    text-align: right;
  }
  .schema-name,
  .group-name,
  .table-name,
  .schema-name,
  .function-name {
    padding-right: 0;
  }
  .schema-name:hover,
  .group-name:hover,
  .table:hover .table-name,
  .function:hover .function-name,
  .sequence:hover .sequence-name,
  .domain:hover .domain-name {
    padding-right: 20px;
  }

  .schema-info,
  .table-info,
  .new-table,
  .view-mode {
    font-size: 12px;
    right: 5px;
    position: absolute;
    top: 3px;
    color: #888;
    display: none;
    cursor: pointer;
  }
  .new-table {
    right: 22px;
  }
  .view-mode {
    right: 39px;
  }
  .schema-name:hover .schema-info,
  .schema-name:hover .new-table,
  .table:hover .table-info,
  .schema-name:hover .view-mode {
    display: block;
  }

  .schema:hover .full-view.open .view-mode {
    display: inline;
    color: #bbb;
  }
  .schema:hover .full-view.open:hover .view-mode {
    display: inline;
    color: #888;
  }
  .schema:hover .full-view.open .view-mode :hover {
    color: #000;
  }

  .new-table:hover,
  .schema-info:hover,
  .table-info:hover,
  .view-mode:hover {
    color: #000;
  }

  .group-name.arrow:after {
    left: 23px !important;
  }
  .group-name {
    padding-left: 37px !important;
  }
  .function-name::before {
    content: 'F';
    font-weight: 900;
    margin-right: 5px;
    letter-spacing: -2px;
    font-size: 13px;
    opacity: 0.75;
    margin-right: 16px;
  }
  i.table-type.fa.fa-th {
    opacity: 0.65;
  }

  .more {
    text-align: center;
  }
  .more:hover {
    background: #dadada;
  }
  .more.focused {
    color: #04b;
    background: #dadada;
  }
  .table-name,
  .sequence-name,
  .domain-name,
  .function-name {
    font-size: 13px;
    display: block;
  }
  .function-name,
  .sequence-name,
  .domain-name {
    padding-left: 38px;
  }
  .fa-list-ol {
    font-size: 14px;
  }
  .function,
  .sequence,
  .domain {
    line-height: 20px;
    height: 20px;
  }

  .schema-name:hover,
  .group-name:hover,
  .nav-tree:focus .schema-name.focused {
    background: #dfdfdf;
  }
  .nav-tree:focus .schema-name.focused,
  .nav-tree:focus .functions.focused,
  .nav-tree:focus .sequences.focused,
  .nav-tree:focus .domains.focused {
    color: #04b;
  }
  .nav-tree:focus .arrow.focused:after {
    border-left-color: #04b;
  }

  .table,
  .sequence,
  .domain,
  .function,
  .nav-search--entity {
    &:hover,
    &.focused {
      background: #dfdfdf;
    }
    &.open {
      color: #04b;
      background: rgba(0, 0, 0, 0.04);
    }
    &.open:hover {
      background: #ddd;
    }
    &.active {
      background: #1976d2;
      color: white;
      text-shadow: 0 1px 1px #15c;
    }
    &.active:hover {
      background: #15d;
    }
    &.active:hover i {
      color: white;
    }
  }
  .sequences.focused,
  .domains.focused,
  .functions.focused {
    background: #dfdfdf;
  }
  .table.focused .table-name,
  .function.focused .function-name,
  .sequence.focused .sequence-name,
  .domain.focused .domain-name {
    color: #04b;
  }
  .table.focused.active .table-name,
  .function.focused.active .function-name,
  .sequence.focused.active .sequence-name,
  .domain.focused.active .domain-name {
    color: #fe0;
  }

  .view .fa.fa-table {
    color: #181;
  }
  .mview .fa.fa-table {
    color: #060;
  }
  .fa.fa-table {
    color: #007;
  }

  .table.active,
  .nav-search--entity.active {
    .fa-database {
      color: rgba(256, 256, 256, 0.85);
    }
    .fa.fa-table {
      color: #fff;
    }
    .view .fa.fa-table {
      color: #ff0;
    }
    .mview .fa.fa-table {
      color: #ff0;
    }
  }
  .group.empty {
    .group-name {
      color: rgba(0, 0, 0, 0.4);
    }
    .arrow:after {
      border-left-color: #aaa;
    }
  }

  .function-name:after {
    content: '()';
    position: absolute;
    left: 47px;
    font-size: 9px;
    margin-top: 1px;
    font-weight: 900;
    letter-spacing: 0.7px;
  }
}
div.nav {
  overflow: visible;
}
.nav .nav--search {
  background: #ccc;
}
.nav input {
  border: 0;
  padding: 4px 1px 3px 9px;
  line-height: 12px;
  width: 100%;
  position: relative;
  z-index: 11;
  font-size: 12px;
  background-color: transparent;
  &:focus {
    padding: 2px 0 1px 8px;
    background: white;
  }
  &:focus:after {
    content: '';
    background: white;
    position: absolute;
    left: 0;
    right: 0;
    height: 20px;
  }
}
div.nav {
  input + .fa-close,
  .fa-search {
    position: absolute;
    right: 6px;
    top: 3px;
    color: #999;
    font-size: 14px;
    z-index: 5;
  }
  input + .fa-close {
    z-index: 3;
    cursor: pointer;
  }
  input:focus + .fa-close {
    color: #000;
  }
}

.nav-search {
  font-size: 13px;
  border-bottom: 1px solid #ddd;
  white-space: nowrap;
  height: 0;
  transition: height 1s;
  overflow-y: auto;
  overflow-x: hidden;
  .fa-database {
    color: rgba(0, 0, 0, 0.5);
    margin-top: 2px;
  }
  .nav-search--entity {
    padding-left: 20px;
    padding-right: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    &:hover {
      background: #dfdfdf;
    }
    height: 20px;
    line-height: 19px;
  }
  i {
    display: inline-block;
    margin-right: 5px;
    margin-top: 3px;
    position: relative;
    top: 1px;
    font-size: 14px;
    width: 13px;
    text-align: center;
  }
  .function-icon {
    font-style: normal;
    line-height: 13px;
    &:before {
      content: 'F';
      font-weight: 900;
      margin-right: 5px;
      letter-spacing: -2px;
      font-size: 13px;
      opacity: 0.75;
      margin-right: 16px;
    }
    &:after {
      content: '()';
      position: absolute;
      left: 8px;
      font-size: 9px;
      margin-top: 1px;
      font-weight: 900;
      letter-spacing: 0.7px;
    }
  }
  mark {
    background: #fe0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    border-radius: 3px;
    padding: 1px 1px 0 1px;
    margin: 0 -1px;
    text-shadow: none;
  }
}

.nav-search {
  position: relative;
}
.nav-search i.fa.fa-search {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  text-align: center;
  margin-left: -25px;
  font-size: 42px;
  margin-top: -30px;
  color: #eee;
}
.nav-search--entity {
  display: flex;
  position: relative;
}
.nav-search--entity span {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 1px;
  padding-left: 2px;
}
.nav-search--entity .fa-info-circle {
  font-size: 12px;
  color: #888;
  display: none;
  margin-top: 3px;
  margin-right: 3px;
  cursor: pointer;
}
.nav-search--entity:hover .fa-info-circle {
  display: inline-block;
  &:hover {
    color: #000;
  }
}

.table-type.fa-user {
  color: #007;
}
.table-type.fa-users {
  color: #181;
}
.table.active .table-type.fa-user,
.table.active .table-type.fa-users {
  color: #fff;
}

.nav-search--entity.focused:before {
  content: '';
  position: absolute;
  margin-left: -11px;
  border-top: solid transparent 5px;
  border-bottom: solid transparent 5px;
  border-left: solid #04b 7px;
  height: 0;
  margin-top: 5px;
}
.nav-search--entity.focused.active:before {
  border-left-color: white;
}

div.nav .nav-search--entity.focused span {
  color: #04b;
}
div.nav .nav-search--entity.focused.active span {
  color: white;
}
.internal {
  opacity: 0.3;
  &:hover {
    opacity: 0.5;
  }
  &.open {
    opacity: 0.7;
  }
  &.active {
    opacity: 0.8;
  }
}
