.table {
  width: 100%;
  border-collapse: collapse;
}
table.table,
.table > * > * > td,
table.table > * > * > th,
table.table > * > td,
table.table > * > th {
  border: 1px solid #ddd;
  padding: 5px;
  font-size: 12px;
  table-layout: auto;
}

.new-schema-form input {
  padding: 8px;
  width: 150px;
  margin-left: 8px;
  &:focus {
    padding: 7px;
  }
}
.new-schema-form {
  z-index: 10000;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background: rgba(256, 256, 256, 0.75);
}
.new-schema-form > div {
  position: absolute;
  bottom: 20px;
  left: 75px;
  background: white;
  padding: 10px;
  padding-left: 20px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.33);
}

.list-input > .list-input-item {
  transition: top 0.5s;
}
.header--title {
  height: 37px;
  background: #e4e4e4;
  line-height: 37px;
  z-index: 3;
  font-size: 12px;
  padding: 0 7px;
  width: 225px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: bold;
  text-align: center;
  position: relative;
  z-index: 11;
  cursor: default;
}
body {
  height: 100vh;
}
