.app-content,
.tabs-header,
.nav {
  position: absolute;
}
.frame {
  z-index: 1;
  overflow: hidden;
  outline: none;
}
.frame.active {
  z-index: 2;
  overflow: visible;
}
.app-content {
  left: 250px;
  top: 40px;
  bottom: 0;
  right: 0;
  background: #e4e4e4;
  transition: left 0.3s;
}
.tabs-header {
  right: 0;
  left: 250px;
  top: 0;
  height: 40px;
  background: #aaa;
  overflow: hidden;
  z-index: 3;
  transition: left 0.3s;
}
.header {
  width: 250px;
  height: 40px;
  background: #e4e4e4;
  line-height: 40px;
  z-index: 3;
  font-size: 12px;
  padding: 0 7px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: bold;
  text-align: center;
  transition: width 0.3s;
}
.header .fa-chevron-left {
  color: #bbb;
  position: relative;
  top: 1px;
}
.header:hover .fa-chevron-left {
  color: #000;
}
.header .nav {
  background: #fbfbfb;
  box-shadow: 0 1px 17px rgba(0, 0, 0, 0.2);
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.2);
  position: relative;
  top: 0;
}
@keyframes header-nav-before {
  0% {
    background: #e4e4e4;
  }
  100% {
    background: white;
  }
}
.header .nav:before {
  display: block;
  width: 40px;
  height: 10px;
  content: '';
  position: absolute;
  top: -10px;
  z-index: 1;
  cursor: pointer;
  animation: header-nav-before 0.3s forwards;
  pointer-events: none;
}
.new-schema {
  right: 10px;
  bottom: 4px;
}
.nav-button {
  position: fixed;
  left: 213px;
  width: 37px;
  height: 40px;
  z-index: 5;
  line-height: 40px;
  font-size: 20px;
  cursor: pointer;
  background: #e4e4e4;
  opacity: 0;
  transition: 0.3s all;
}
.nav-button:hover {
  background: white;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
}
.nav-button--hidden {
  left: 0;
  opacity: 1;
  width: 40px;
}
.header-and-nav:hover .nav-button,
.left-nav-resizing .nav-button {
  opacity: 1;
}

.app-content > .frame {
  position: absolute;
  inset: 0;
  background: #e4e4e4;
}

.errors {
  position: fixed;
  z-index: 99999;
  word-break: break-word;
  user-select: text;
  top: 50px;
  right: 20px;
  background: #fff;
  width: 350px;
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.18);
  animation: scale-up-center 0.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
.errors .fa-close {
  position: absolute;
  right: 5px;
  top: 3px;
  opacity: 0.2;
  cursor: pointer;
  color: #000;
}
.errors .fa-close:hover {
  opacity: 1;
}
.errors .error {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  position: relative;
  color: #d10;
  overflow: hidden;
  white-space: pre-wrap;
}
.errors .error:last-child {
  border-bottom: 0;
}
.errors .error::before {
  content: '';
  display: block;
  width: 14px;
  height: 14px;
  float: right;
}
.errors .fa-exclamation-circle {
  font-size: 34px;
  float: left;
  margin-right: 15px;
  margin-left: 9px;
  color: #c21;
}
.nav {
  transition: width 0.3s;
}
.hide-button.hidden:not(:hover) .fa-eye {
  display: none;
}
.hide-button.shown:not(:hover) .fa-eye-slash {
  display: none;
}
.hide-button.hidden:hover .fa-eye-slash {
  display: none;
}
.hide-button.shown:hover .fa-eye {
  display: none;
}

.resize-helper {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 3px;
  cursor: ew-resize;
  z-index: 3;
}
.left-nav-resizing .app-content,
.left-nav-resizing .tabs-header,
.left-nav-resizing .header,
.left-nav-resizing .header .nav-button,
.left-nav-resizing .nav,
.left-nav-resizing .settings-button {
  transition: none !important;
}
