.settings-button {
  position: fixed;
  left: 213px;
  width: 37px;
  height: 40px;
  z-index: 5;
  line-height: 40px;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  transition: 0.3s all;
  top: 0;
  background: #e4e4e4;
  padding: 2px 8px;
}

.header > .settings-button .adjustment-icon--medium,
.header--title > .settings-button .adjustment-icon--medium {
  color: #bbb;
  --bg: #e4e4e4;
  margin-top: 5px;
  margin-right: 10px;
}
.header-and--nav:hover .settings-button,
.left-nav-resizing .settings-button {
  opacity: 1;
}
.settings-button:hover {
  background: white;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
  z-index: 6;
}
.settings-button:active {
  background: #e4e4e4;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.3);
}
.header > .settings-button:hover .adjustment-icon--medium,
.header--title > .settings-button:hover .adjustment-icon--medium {
  color: #000;
  --bg: white;
}
.header:hover > .settings-button .adjustment-icon--medium,
.header--title:hover > .settings-button .adjustment-icon--medium {
  color: #000;
}
.header--title .settings-button {
  left: 188px;
  top: 40px;
  height: 37px;
  border-radius: 0 15px 0 0;
  padding-top: 1px;
}

.settings-button[data-hint]::after {
  font-size: 15px;
  padding: 5px 8px;
  top: 44px;
  margin-left: -16px;
  font-weight: normal;
}
