.tabs-header {
  .add {
    width: 40px;
    z-index: 2;
    height: 40px;
    text-align: center;
    background: #ddd;
    position: absolute;
    right: 0;
    top: 0;
    transition: width 0.5s;
  }
  .add:hover {
    background: #ccc;
  }
  .add i {
    line-height: 40px;
  }
  .tabs {
    width: 999999px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
  }
  .tab {
    height: 40px;
    line-height: 32px;
    float: left;
    overflow: hidden;
    transition: width 0.5s, left 0.5s;
    padding-top: 4px;
    box-shadow: 1px 0px rgb(0 0 0 / 20%);
  }
  .tab-name {
    white-space: nowrap;
    overflow: hidden;
    display: block;
    margin-right: 17px;
    text-overflow: ellipsis;
    padding: 1px 7px;
  }
  .pik .tab-name {
    color: rgba(0, 0, 0, 0.2);
    font-style: italic;
  }
  .tab {
    position: relative;
    color: #444;
    overflow: hidden;
    margin-left: -1px;
  }
  .tab .fa-close {
    position: absolute;
    right: 4px;
    top: 2px;
    color: #888;
    padding: 5px 5px 5px 2px;
  }
  .tab:hover {
    background: #bbb;
  }
  .tab .fa-close:hover {
    color: #000;
  }
  .tab.active {
    background: white;
    color: #000;
    z-index: 2;
    transition: width 0.5s;
    border-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }
  .tab input {
    padding: 3px;
    margin-top: 5px;
    margin-left: 10px;
    max-width: calc(100% - 20px);
  }
}
