.tabs-header__tabs {
  width: 999999px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
}
.tabs-header__add {
  width: 40px;
  z-index: 2;
  height: 40px;
  text-align: center;
  background: #e4e4e4;
  position: absolute;
  right: 0;
  top: 0;
  position: fixed !important;
  cursor: pointer;
  transition: all 0.2s;
}

.tabs-header__tab-name--preview {
  color: rgba(0, 0, 0, 0.2);
  font-style: italic;
  transition: all 0.2s;
}
.tabs-header__add:hover {
  background: white;
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.3);
}
.tabs-header__add:active {
  background: #f7f7f7;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.4);
}
.tabs-header__add[data-hint]::after {
  font-size: 15px;
  padding: 5px 8px;
  top: 44px;
  margin-left: -54px;
}

.tabs-header__close,
i.tabs-header__plus {
  line-height: 40px;
}
.tabs-header__close {
  position: absolute;
  right: 4px;
  top: 2px;
  color: #888;
  padding: 5px 5px 5px 2px;
  cursor: pointer;
}
.tabs-header__close:hover {
  color: #000;
}

.tabs-header__tab {
  height: 40px;
  line-height: 32px;
  float: left;
  overflow: hidden;
  transition:
    width 0.5s,
    left 0.5s;
  padding-top: 4px;
  box-shadow: 1px 0px rgb(0 0 0 / 20%);
  text-shadow: 0 -1px 0.3px rgba(255, 255, 255, 0.2);
}
.tabs-header__tab-name {
  white-space: nowrap;
  overflow: hidden;
  display: block;
  margin-right: 17px;
  text-overflow: ellipsis;
  padding: 1px 7px;
  flex: 1;
}
.tabs-header__tab {
  position: relative;
  color: #444;
  overflow: hidden;
  margin-left: -1px;
  display: flex;
}
.tabs-header__tab:hover {
  background: #bbb;
}
.tabs-header__tab--active,
.tabs-header__tab--active:hover {
  background: white;
  color: #000;
  z-index: 2;
  border-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  transition:
    width 0.5s,
    box-shadow 0.5s;
}
input.tabs-header__input {
  padding: 3px !important;
  margin-top: 5px;
  margin-left: 7px;
  max-width: calc(100% - 37px);
  width: 100%;
}
input.tabs-header__input:focus {
  padding: 2px !important;
}
.tabs-header__tab--empty .tabs-header__tab-name {
  color: rgba(0, 0, 0, 0.3);
}
.tabs-header__tab .fa-exclamation-triangle {
  color: rgba(150, 0, 0, 0.33);
}
.tabs-header__tab--active .fa-exclamation-triangle {
  color: rgba(190, 0, 0, 0.9);
}
.tabs-header__tab--active .fa-check {
  color: #0a0;
}
.tabs-header__tab .fa-check {
  color: #484;
}

.tabs-header__tab__hint {
  position: fixed;
  top: 46px;
  width: 250px;
  overflow: hidden;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  padding: 10px 9px;
  word-wrap: break-word;
  line-height: 1;
  background: white;
  border-radius: 5px;
}
.tabs-header__tab__hint h1,
.tabs-header__tab__hint h2 {
  margin: 0;
}
.tabs-header__tab__hint h1 {
  font-size: 0.9em;
}
.tabs-header__tab__hint h2 {
  font-weight: normal;
  font-size: 1.2em;
  margin-top: 7px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.tabs-header__tabs:not(:empty):after {
  content: '';
  display: block;
  position: absolute;
  top: -5px;
  left: -3px;
  bottom: 0;
  box-shadow: inset 0 0 13px rgba(0, 0, 0, 0.15);
  right: 0;
  pointer-events: none;
}
